# GrapesJS Studio SDK license key for the demo site.
# Any value works on localhost; a real SDK license key is required on public
# domains (e.g. the Netlify deploy). Copy to `.env` for local dev, and set the
# same variable in Netlify → Site settings → Environment variables.
VITE_STUDIO_LICENSE_KEY=DEV_LICENSE_KEY
